/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://lineuisvg.netlify.app/lineuisvg.css");

/* FlatIcon */
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");

/* Font CSS */
@import "./bangla/hind-siliguri.css";
@import "./bangla/kalpurush.css";

body {
  background-color: #060527 !important;
}
.logo {
  width: 200px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.info-box {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
  color: #ffffff;
  font-family: /*"Space Grotesk",*/ "Hind Siliguri", sans-serif;
}
.avtar {
  height: 50px;
  width: 50px;
}
.avtar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid #c60b0d;
}
.report {
  background-color: #343a4094;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  height: 40px;
}
.report a {
  display: flex;
  align-items: center;
}
.report i {
  color: #ffc000;
  margin-right: 10px;
}
.view-report i {
  color: #fefefe;
}
.view-count {
  margin-top: -2px;
}
.info-box a {
  text-decoration: none;
  color: #ffffff;
}
small {
color: #582BAC;
}
.font-tester {
  height: 90px;
  background-image: url(./images/font-tester-bg.svg);
  display: flex;
  color: #ffffff;
  border: 1px #615897 dashed;
  align-items: center;
  padding: 0 0 0 20px;
  margin: -20px 10px -20px 10px;
  border-radius: 10px;
  font-family: /*"Space Grotesk",*/ "Hind Siliguri", sans-serif;
}
.font-input {
  width: 100%;
  border: 1px #615897 dashed;
  /*border: none;*/
  padding: 10px 10px;
  border-radius: 5px;
}
.form-range::-moz-range-thumb {
  background: linear-gradient(90deg, #c60b0d, #ff0f11) !important;
}
.font-box {
  background-color: #181A31;
  color: #ffffff;
  border: 1px #615897 dashed;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  /*box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.1);*/
  overflow: hidden;
  font-family: /*"Space Grotesk",*/ "Hind Siliguri", sans-serif;
}
.font-box-content {
  position: inherit;
  z-index: 2;
}
.c-shape {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #582BAC;
  opacity: 0.3;
  top: -120px;
  left: -80px;
  z-index: 1;
}
.font-box-utility {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.font-box-utility button {
  border: none;
}

#preview {
  height: 40px;
  margin-top: 10px;
  text-align: center;
}
.cdn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.alrt {
  color: #582BAC;
  font-size: 14px;
}
.cdn-section button {
  background-color: transparent;
  font-size: 26px;
  border: none;
}
.lineui {
  color: #ffffff;
  font-size: 20px;
}
.lineui:hover {
  color: #582BAC;
}
.card {
  background-color: transparent !important;
  border: none !important;
  padding: 10px 0 0 0 !important;
}
.link-cdn,
.import-cdn {
  background-color: #060527/*#21252952*/;
  padding: 5px 15px;
  border-radius: 5px;
}
.import-cdn {
  margin: 15px 0 0 0;
}
.link-cdn input:focus,
.import-cdn input:focus {
  outline: none;
}
.link-cdn input,
.import-cdn input {
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-right: 15px;
}
.link-cdn i,
.import-cdn i {
  color: #ffffff;
  font-size: 20px;
}
.font-down-btn {
  background-color: #582BAC;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  position: relative;
  overflow: visible;
}
.font-down-btn span {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: #212529;
  padding: 3px 10px;
  font-size: 10px;
  border-radius: 50px;
  display: none;
}
.btn-title {
  position: unset;
  z-index: 2;
}
.b-shape {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ff0f11;
  right: 0;
  bottom: -28px;
  z-index: 1;
}
/* Ext link */
.extL{display:inline-flex;align-items:center}
.extL::after{content:''; width:14px;height:14px; display:inline-block;margin:0 5px; background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23989b9f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M13 11L21.2 2.80005'/><path d='M22 6.8V2H17.2'/><path d='M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13'/></svg>") center / 14px no-repeat}
.extL.alt::after{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23989b9f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3'/><line x1='8' y1='12' x2='16' y2='12'/></svg>")}

.font-down-btn {
  text-decoration: none;
}
/* All Font Family */
.kalpurush {
  font-family: "Kalpurush";
}
