/* Mommy Lemon Font Family */

    @font-face {
    font-family: 'Mommy Lemon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/mommy-lemon.woff') format('woff');
    }
